// 屏蔽手机中间4位数
/**时间戳转换为日期格式
 * 参数1 number：时间戳 
 * 参数2 format：格式，参入 'Y/M/D h:m:s'
 *         如：Y-M-D      返回 2018-08-08
 *            Y年M月D日   返回 2018年8月8日
*/
var formatTime = function (number, format) {
  let formateArr = ['Y', 'M', 'D', 'h', 'm', 's'];
  let returnArr = [];
  if (number % 1 === 0) {
    let date = getDate(number * 1000);
    returnArr.push(date.getFullYear());
    returnArr.push(formatNumber(date.getMonth() + 1));
    returnArr.push(formatNumber(date.getDate()));
    returnArr.push(formatNumber(date.getHours()));
    returnArr.push(formatNumber(date.getMinutes()));
    returnArr.push(formatNumber(date.getSeconds()));
    for (var i = 0; i < returnArr.length; ++i) {
      format = format.replace(formateArr[i], returnArr[i]);
    }
    return format;
  }
}
//数据转化  
function formatNumber(n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}
/**取小数点几位 默认整数，
* @ n 数值
* @ p 小数点几位，默认为0
*/
var rounding = function (n, p = 0) {
  const position = Math.pow(10, p)
  const num = n - 0
  return Math.floor(num * position) / position
}
/**自动计算单位取整
* @ n 数值
* @ status 状态值 默认不做换算
*         1：计算万以上的数值 
*         2：计算区分万和亿的运算
* @ l 保留小数点几位 2=2位小数点，默认为0
*/
var tenK = function (n, status = 1, l = 0) {
  let num = n
  switch (status) {
    case 2:
      num = n >= 10000 ? n / 10000 : n
    case 3:
      if (n >= 10000 && n <= 100000000) {
        num = n / 10000
      } else if (n >= 100000000) {
        num = n / 100000000
      }
  }
  return rounding(num, l)
}
var phoneHide = function (str) {
  if (str) {
    var mphone = str.slice(0, 3) + '****' + str.slice(7, 11);
    return mphone;
  }
}

// 截取长度
var limit = function (array, length) {
  return array.slice(0, length)
}

module.exports = {
  phoneHide: phoneHide,
  limit: limit,
  formatTime: formatTime,
  tenK: tenK,
  rounding: rounding
}